#registerForm {
	margin-right: 30px;
    padding-right: 30px;
	border-right: 1px solid #e5e5e5;
}

#loginForm {
	padding-left: 25px;
}

#registerForm, #loginForm {
	vertical-align: top;
	text-align: left;
	display: inline-block;
	width: 255px;
}

#registerForm input, #loginForm input {
	width: 225px;
	padding: 4px 4px 4px 8px;
	border-radius: 3px;
	line-height: 28px;
	margin-bottom: 14px;
	font-size: 14px;
}