#profileWrapper {
	text-align: left;
}

#settings {
	width: 100%;
	display: inline-block;
}

#settings button {
	background: #FF922B;
	border: 0;
	padding: 10px 18px;
    font-size: 15px;
	color: #fff;
	font-weight: bold;
	margin-top: 2px;
}

.settingsRow {
	margin-bottom: 18px;
}

.settingsBlock {
	width: 35%;
	display: inline-block;
	text-align: left;
	font-weight: bold;
}

.settingsBlock label {
	display: block;
    margin-bottom: 7px;
}

.settingsBlock select {
	width: 241px;
    height: 40px;
	padding: 4px 4px 4px 8px;
	font-size: 14px;
	line-height: 28px;
	border-radius: 2px;
}

.settingsBlock input {
	width: 260px;
	padding: 4px 4px 4px 8px;
	font-size: 14px;
	line-height: 28px;
}

#preferences {
	width: 48%;
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
}

.preference:first-letter {
	text-transform: uppercase;
}

.preference {
	margin-bottom: 8px;
}

.preference {
	background: #FF922B;
	padding: 8px 14px 8px 14px;
	border-radius: 6px;
	margin-right: 10px;
	display: inline-block;
}

#preferences input {
	width: 260px;
	padding: 4px 4px 4px 8px;
	font-size: 14px;
	line-height: 28px;
	display: block;
    margin-top: 4px;
}

#preferenceList {
	margin-top: 25px;
}

.closeIcon {
	margin-left: 9px;
    vertical-align: middle;
    padding-bottom: 1px;
}

#favorites {
	width: 50%;
	display: inline-block;
	margin-bottom: 35px;
}

.favorite {
	padding: 8px 0 8px 18px;
    border-top: 1px solid grey;
    display: block;
    float: left;
    width: 100%;
}

#favoritesWrapper {
	overflow-y: auto;
    max-height: 360px;
    width: 80%;
    margin-right: 20%;
    display: block;
    float: left;
    overflow-x: hidden;
    padding-right: 17px;
}

.placeInfo {
	display: inline-block;
	float: left;
	position: relative;
}

.favorite img {
	width: 80px;
}

.favoriteImg {
	height: 80px;
    width: 80px;
    float: left;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.favoriteName {
	display: block;
	vertical-align: top;
	font-weight: bold;
    font-size: 18px;
}

.favoriteInfo {
	padding-top: 7px;
}

.deleteFavoriteIcon {
	float: right;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 28px;
}

.favoriteLocation {
	
}

.favoriteRating {
	margin-left: 5px;
	display: inline-block;
}

ul.suggestCategories {
	padding-left: 0px;
	list-style: none;
}

ul.suggestCategories li {
	padding: 5px 0;
	text-transform: capitalize;
	width: 100%;
}

#userFull {
	display: block;
	padding-left: 16px;
}

#userGravatar {
	display: inline-block;
}

#userName {
	margin-top: 0;
    font-size: 40px;
    margin-bottom: 0;
}

#userEmail {
	font-size: 20px;
    margin-top: 0;
    display: inline-block;
	margin-left: 14px;
}

#emailWrapper {
	margin-top: 12px;
}

#mailIcon {
	display: inline-block;
	font-size: 18px;
}

#locationWrapper {
	display: block;
	margin-top: 12px;
    font-size: 15px;
    padding-left: 2.5px;
}

#userInfo {
	display: inline-block;
    margin-left: 45px;
    vertical-align: top;
}

#topRowWrapper {
	margin-bottom: 50px;
    margin-top: 25px;
}

#userCountry {
	margin-left: 15px;
}

#userEvents {
	margin-top: 30px;
    margin-bottom: 40px;
	border-bottom: 1px solid grey;
}

#userEventName {
	margin-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 17px;
}

#userEvents {
	width: 360px;
}

#userEvent {
	padding: 20px 15px 20px 15px;
    font-size: 19px;
    border-top: 1px solid grey;
}