#result {
    overflow: hidden;
    margin: 25px auto;
    width: 1170px;
}

.singleResult {
    width: 24%;
    display: inline-block;
    margin-bottom: 25px;
    position: relative;
    margin-right: 1%;
}

.singleResult img {
    height: 234px;
    width: 285.8px;
}

.nameBox {
    position: absolute;
    bottom: 3px;
    left: 0px;
    color: #fff;
    background-color: #FF922B;
    width: 100%;
    padding-left: 5px;
    min-height: 70px;
	white-space: initial;
}

.nameBox p {
    padding: 0 4px;
}

div.rating {
    background-color: rgb(244, 212, 66);
    height: 30px;
    width: 30px;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 8px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.searchHeader {
    background: url(/static/media/searchBanner.8f1e33b4.png) no-repeat;
    height: 401px;
    width: 100%;
}

.searchHeader h3 {
    color: #fff;
    font-size: 60px;
}

.searchHeader input {
    width: 50%;
    border-radius: 25px;
    border: 0;
    padding: 10px 15px;
}

.searchHeader button {
    padding: 10px 25px;
    border-radius: 25px;
    border: 0;
    background: #FF922B;
    color: #fff;
    cursor: pointer;
}

.col-12 {
    width: 1170px;
    margin: 0 auto;
}

.search {
    padding: 50px 0;
}

.searchContainer {
    overflow: hidden;
}

.filter {
    width: 100%;
    display: inline-block;
    float: left;
    text-align: left;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.allResults {
    width: 100%;
    overflow: hidden;
    padding-top: 25px;
    min-height: 100px;
}

div.selection {
    padding-right: 15px;
}

div.selection div {
    width: 24%;
    display: inline-block;
    float: left;
    margin-right: 1%;
    padding: 10px 0;
}


div.selection div p {
    font-weight: bold;
}

div.selection ul {
    list-style: none;
    padding-left: 0;
}

ul.yourSelection li {
    display: inline-block;
}

#resultSearch .singleResult {
    width: 31%;
    display: inline-block;
    float: left;
    margin-bottom: 25px;
    position: relative;
    margin-right: 2%;
}

#resultSearch .singleResult img {
    height: 225px;
    width: 258.8px;
}

select.search-select {
    border-radius: 25px;
    border: 0;
    padding: 10px 15px;
    outline: none;
}

ul.category-list {
    max-height: 100px;
    overflow: auto;
}

ul.category-list li {
    text-transform: capitalize;
    padding: 2px 0px;
}

div.result-list {
    overflow: hidden;
}

div.pagination {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-bottom: 25px;
}

.pagination p {
    display: inline-block;
}

p.prev {
    margin-right: 15px;
    border-right: 1px solid #dedede;
    padding-right: 15px;
}

.allResults .singleResult {
    float: left;
}