.App {
  	text-align: center;
	background: #F8F9FA;
	font-family: 'Raleway', sans-serif;
}

footer {
	background: #495057;
	color: white;
	width: 100%;
	padding: 20px 0px 20px 0px;
	position: relative;
	bottom: 0;
}

#filter {
	float: left;
	text-align: left;
	margin: 25px 0px;
	width: 100%;
}

main {
	max-width: 1170px;
	margin: 0 auto;
	padding: 50px 0px;
}

#filterMenu {
	background-color: #FFD8A8;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	width: 80%;
	margin: 25px auto;
	overflow: hidden;
}

.filterMenuItems {
	display: inline;
	float: left;
	margin-left: 20px;
}

.my-collapsible-content {
	overflow: hidden;
}