.App {
  	text-align: center;
	background: #F8F9FA;
	font-family: 'Raleway', sans-serif;


}

footer {
	background: #495057;
	color: white;
	margin-top: 90px;
	width: 100%;
	padding: 20px 0px 20px 0px;
	position: relative;
	bottom: 0;
}

#filter {
	float: left;
	margin-left: 5vw;
	margin-top: 3.5vw;


}

main {
	margin-top: 50px;
}

#test{
	margin-left: 100px;
	width: 50%;
	height: 100px;
	background-color: #ffffff;
}
