.App {
  	text-align: center;
	background: #F8F9FA;
	font-family: 'Raleway', sans-serif;

}

footer {
	background: #495057;
	color: white;
	margin-top: 40px;
	width: 100%;
	padding: 20px 0px 20px 0px;
	position: relative;
	bottom: 0;
}

header {
	background: #ffffff;
	width: 100%;
	height: 6%;
	position: relative;
	top: 0;
	box-shadow: 0 4px 2px -2px gray;
	margin-bottom: 50px;
}

#filter {
	float: left;
	margin-right: -30px;
}

