.places{
    border-radius: 5px;
    margin-left: 1.5%;
    margin-top: 30px;
    width: 95%;
    height: 150px;
    border:  1px solid #fafafa;
    box-shadow: 0 5px 6px #cccccc;
    background-color: #ededed;
    padding: 16px;
}

.placesText {
    text-align: left;
    padding-left: 4vw;
}