#eventBox {
	background-color: #FFBD2B;
}

.places{
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
}

.placesRow {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
}

.placesText {
    text-align: left;
    font-size: 25px;
	text-transform: capitalize;
}

h3.placesText:first-letter {
    text-transform: uppercase;
}

.locations {
    cursor: pointer;
    width: 23%;
    display: inline-block;
    float: left;
    margin-right: 2%;
}

.infoLocation {
    text-align: justify;
    width: 300px;
}

.imageText{
    display: block;
    margin: 0 auto;
}