.places{

    margin-left: 4%;
    margin-top: 30px;
    width: 95%;
    height: 150px;
    padding: 16px;
}

.placesText {
    text-align: left;
    padding-left: 5vw;
    margin-bottom: -35px;
    margin-top: 95px;
    font-size: 25px;
}

.locations {
    float: left;
    margin-right: 2.5vw;
    height: 200px;
    width: 300px;

}

.infoLocation {
    text-align: justify;
    width: 300px;
}

.imageText{
    display: block;
    margin: 0 auto;
}